<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - ThrowbackCalendar</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/fontawesome.min.css') }}" rel="stylesheet" crossorigin="" />
    <link href="{{ url_for('static', filename='css/brands.min.css') }}" rel="stylesheet" crossorigin="" />
    <link href="{{ url_for('static', filename='css/solid.min.css') }}" rel="stylesheet" crossorigin="" />
  </head>
  <body style="height:100vh">
    <nav class="navbar navbar-expand-lg bg-primary mb-3" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">ThrowbackCalendar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('show_month', month=(current_month.month-1)) }}"><i class="fa-solid fa-caret-left"></i></a>
                  </li>
                  {% for month in range(1,13) %}
                  <li class="nav-item">
                      <a class="nav-link{% if current_month.month == month %} active{% endif %}" aria-current="page" href="{{ url_for('show_month', month=month) }}">{{ month | monthname }}</a>
                  </li>
                  {% endfor %}
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('show_month', month=(current_month.month+1)) }}"><i class="fa-solid fa-caret-right"></i></a>
                  </li>
              </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
