{% extends 'base.html' %}

{% block title %}{{ _(month_names[current_month.month]) }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-3">
                {{ _(month_names[current_month.month]) }}
                <button type="button" class="btn btn-success" onclick="newEvent()"><i class="fa-solid fa-square-plus"></i></button>
            </h1>
        </div>
    </div>
<div class="row">
{% for day in range(1, days_in_month + 1) %}
<div class="col mb-2 card-group">
    <div class="day card{% if day == now.day and current_month.month == now.month %} border-primary{% endif %}">
        <div class="card-header text-end d-flex justify-content-between ">
        <button type="button" class="btn btn-success btn-sm" onclick="newEvent({{ day }});"><i class="fa-solid fa-square-plus"></i></button> {{ day }}
        </div>
        <ul class="list-group list-group-flush">
            {% for year in events[day] %}
            <li class="list-group-item">
            <div class="fw-bold">{{ year }}</div>
            <ul class="group list-group-flush px-0">
            {% for event in events[day][year] %}
            <li class="list-group-item px-0 event" data-event="{{ event.id }}" data-year="{{ year }}" data-month="{{ current_month.month }}" data-day="{{ day }}">
                <div class="d-flex justify-content-between align-items-center px-0 align-top">
                <a href="#" onclick="editEvent({{ event.id }})" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" data-event="{{ event.id }}" data-field="name">{{ event.name }}</a>
                {% if event.url %}<span class="text-primary"><a href="{{ event.url }}" class="" data-event="{{ event.id }}" data-field="url"><i class="fa-solid fa-globe"></i></a></span>{% endif %}
                </div>
                <div>
                {% if event.parent_url %}<small class="text-secondary">{{ _('Part of') }} <a href="{{ event.parent_url }}" class="link-secondary" data-event="{{ event.id }}" data-field="parent">{{ event.parent_name }}</a></small>{% endif %}
                </div>
            </li>
            {% endfor %}
            </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if day % 7 == 0 %}
</div>
<div class="row">
{% endif %}
{% endfor %}
</div>

<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addItemModalLabel">{{ _('New item') }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{{ url_for('show_month', month=current_month.month) }}" method="POST">
            <input type="hidden" name="id" id="id" value="" />
            <div class="modal-body border-bottom">
                <div class="row g-3 align-items-center mb-3">
                    <div class="col-2">
                        <label for="day" class="col-form-label">{{ _('Day') }}</label>
                    </div>
                    <div class="col-2">
                        <input type="text" id="day" name="day" class="form-control" value="{{ current_month.day }}">
                    </div>
                    <div class="col-2">
                        <label for="month" class="col-form-label">{{ _('Month') }}</label>
                    </div>
                    <div class="col-2">
                        <input type="text" id="month" name="month" class="form-control" value="{{ current_month.month }}">
                    </div>
                    <div class="col-1">
                        <label for="year" class="col-form-label">{{ _('Year') }}</label>
                    </div>
                    <div class="col-3">
                        <input type="text" id="year" name="year" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-3">
                    <div class="col-4">
                        <label for="name" class="col-form-label">{{ _('Name') }}</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-3">
                    <div class="col-4">
                        <label for="url" class="col-form-label">{{ _('URL') }}<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="url" name="url" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-body border-bottom">
                <div class="row g-3 align-items-center mb-3">
                    <div class="col-4">
                        <label for="parent_name" class="col-form-label">{{ _('Parent name') }}<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="parent_name" name="parent_name" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-3">
                    <div class="col-4">
                        <label for="parent_url" class="col-form-label">{{ _('Parent URL') }}<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="parent_url" name="parent_url" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div><span class="text-danger">*</span> {{ _('optional') }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
const current_month = '{{ current_month.month }}';
const current_day = '{{ now.day }}';
</script>
<script src="{{ url_for('static', filename='js/ThrowbackCalendar.js') }}" crossorigin="anonymous"></script>
{% endblock %}
